:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 1280px;
  margin: 0;
  padding: 2rem;
  text-align: center;
  width: 95vw;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: flex-start;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

nav {
  text-align: left;
  margin-bottom: 10px;
}

.search-is {
  padding: 40px 20px;
  border: 1px solid #aaa;
  position: relative;
  margin-top: 20px;

  &__app-id {
    color: royalblue;
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 0.9em;
  }

  main {
    display: flex;
    margin: 5px 0 25px;
  }

  .menu {
    flex: 2;
    border: dotted 1px lightgray;
    margin: 0px 5px 0 0px;
    padding: 10px;
    max-width: 230px;
  }

  .ais-Pagination {
    margin-bottom: 25px;
  }

  .results {
    flex: 6;
  }

  .hit {
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: space-evenly;
    flex-direction: column;

    &-actions {
      display: flex;
    }

    &-content {
      padding: 0px 10px;
      flex-basis: 70%;
    }

    &-picture {
      position: relative;
      display: block;
      background-color: #efefef;

      img {
        height: auto;
        width: auto;
        max-width: 100px;
        max-height: 150px;
      }
    }

    &-type {
      color: #888888;
      font-size: 13px;
    }

    &-description {
      font-size: 0.75rem;
      text-align: center;
      padding: 5px;
    }
  }
  .ais-Hits-item {
    flex-basis: 30% !important;
    position: relative;
    padding-bottom: 50px;
    margin-bottom: 20px;
    max-width: 240px;
    min-width: 220px;
    flex-shrink: 0;
  }
  .ais-Hits-list {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .brand-facets {
    border-bottom: 1px solid #aaaaaa;
    margin-bottom: 10px;
    padding: 10px 0;
  }

  .product-actions {
    position: absolute;
    bottom: 15px;
    width: fit-content;
    text-align: center;
    width: 130px;
    height: 40px;

    .conversion-btn {
      background-color: rgba(96, 185, 225, 0.671);
    }
  }

  .refinements-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #aaaaaa;
    margin-bottom: 10px;
    padding: 10px 0;

    &.ais-CurrentRefinements-item {
      margin-right: 10px;
    }

    .ais-ClearRefinements-button--disabled {
      display: none;
    }

    .ais-ClearRefinements-button {
      margin-left: 5px;
    }

    .ais-CurrentRefinements-categoryLabel {
      padding: 0;
    }
  }

  .ais-InfiniteHits-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &-item {
      flex-basis: 30% !important;
      position: relative;
      padding-bottom: 50px;
      margin-bottom: 20px;

      .product-actions {
        bottom: 5px;
        width: calc(100% - 5rem);
        text-align: center;
      }
    }
  }

  .sort-by {
    display: flex;
    justify-content: flex-end;
  }

  .PriceRangePicker {
    padding: 10px;

    &-title {
      font-size: 12px;
    }

    &-rangeContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &-input {
        flex: 1;
        flex-basis: 30%;
        width: 30%;
        margin-right: 5px;
      }

      &-toInputWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      &-setButton {
        background-color: green;
        color: white;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

  .ais-HierarchicalMenu,
  .ais-RefinementList {
    margin-bottom: 20px;
  }

  .facets-container {
    max-width: 250px;

    .facet {
      &-name {
        color: red;
      }
    }
  }
}

/* Autocomplete START */
.page_container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  width: calc(100% - 10px);
  padding: 5px;
}
.search-bar {
  display: flex;
  justify-content: stretch;
  border: 1px solid #aaa;
  padding: 30px 20px 10px 10px;
  position: relative;
  margin: 4px;

  &__catalog-selector {
    margin-bottom: 20px;
    flex-grow: 0;
    flex-basis: 160px;
    padding: 0 10px 0 0;

    label {
      font-size: 0.8em;
    }

    select {
      font-size: 1em;
    }
  }

  &__search-autocomplete {
    flex-basis: max-content;
    flex-grow: 10;
    margin-top: 4px;
  }

  &__app-id {
    color: red;
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 0.9em;
  }
}

.search-is .main-click--handler {
  text-align: center;
}

/* Autocomplete ENDS */

.category-pages-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  a {
    display: inline-block;
    font-size: .8em;
    margin-left: 2px;
    button {
      margin: 2px 0;
      background-color: rgba(106, 205, 225, 0.5);
    }
  }
}

.category-title {
  color: #535bf2;
}