@import './algolia.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand;
}

.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
  color: white;
}

.Social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #333;
}
