@import './algolia.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand;
}

.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
  color: white;
}

.Social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #333;
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  width: 100vw;
  header {
    width: 100vw;
  }
}

.example-links {
  margin-top: 10px;
  li {
    padding: 10px;
  }
}